{% extends 'base.html' %}

{% block head %} 
    <title> {{ title }} </title>
{% endblock %}

{% block body %} 
<section class="hero is-light is-large is-bold">
    <div class="hero-body">
    <div class="container">
        <h1 class="title">
            Regla del trapecio
        </h1>
        <form action={{url_for('resulTrapecio')}}  method="post" >
          <p>
              <div class="field">
                  <label class="label" for="funcion"> Ingresa la función </label>
                  <div class="control">
                    <input class="input is-rounded" type="text" name="funcion" required>
                  </div>
              </div>
          </p>
            <p>
                <div class="field">
                    <label class="label" for="limInf"> Ingresa el limite inferior </label>
                    <div class="control">
                      <input class="input is-rounded" type="number" step="any" name="limInf" required>
                    </div>
                </div>
            </p>
            <p>
                <div class="field">
                    <label class="label" for="limSup"> Ingresa el limite superior </label>
                    <div class="control">
                      <input class="input is-rounded" type="number" step="any" name="limSup" required>
                    </div>
                </div>
            </p>
            <p>
                <div class="field">
                    <label class="label" for="numIter"> Ingresa el número de iteraciones </label>
                    <div class="control">
                      <input class="input is-rounded" type="number" name="numIter" required>
                    </div>
                </div>
            </p>
           <input type="submit" value="listo" class="button is-dark is-rounded is-large"> 
        </form>        
    </div>
    </div>
</section>

{% endblock %}